body{
    margin: 0px;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
.header, .content{
    display: flex;
    background-color: #1f2937;
    gap: 30px;
    border: solid 20px rgba(0, 0, 0, 0.507);   
}
.header{
    border-bottom: 0px;
}
.content{
    border-top: 0px;
}

.homepage-image{
    width: 400px;
    border-radius: 20%;
    height: auto;
    margin-right: 200px;
    margin-top: 75px;
    filter: drop-shadow(20px 10px 5px black);
}

.logo {
    height: auto;
    width: 50px;
    mix-blend-mode:lighten;
    filter: invert(100%);
    padding: 10px;
    margin-left: 100px;
}

.content-text{
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 100px;
    color: white;
}

.signup{
    padding: 10px 30px;
    filter: drop-shadow(5px 3px 3px black);
    display: flex;
    margin-left: auto;
}
.signup:hover{
    background-color: darkseagreen;
    color: white;
    filter: drop-shadow(15px 10px 3px black);
}
.header-list{
    display: flex;
    gap: 15px;
    margin-left: auto;
    padding: 10px;
    margin-right: 70px;
}


.attractive-information{
    text-align: center;
    background:rgb(255, 255, 255);
    padding: 25px;
    margin-top: -20px;
}

.box-image{
    width: auto;
    height: 250px;
    filter: drop-shadow(5px 5px 3px black);
    
}

.box-1,.box-2,.box-3,.box-4,.box-5{
    
    padding: 40px;
    border-radius: 5%;
    width: 130px;
    border-left: solid 5px grey;
}
.box-4{
    padding: 58px;
}
.box-1{
    border-left: 0px;
}

h3{
    align-self: center;
}

.attractive-information-points{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    border: solid 2px rgb(13, 0, 201);
    border-radius: 10%;
    margin: 20px 40px;
}

.testimonial{
    background: #e5e7eb;
    display: flex;
    padding: 150px;
}

.testimonial-text{
    font-size: 28px;
    border: 3px solid  rgba(0, 0, 0, 0.397);
    border-right: none;
    border-radius: 2%;
    padding: 10px;
}

.testimonial-img{
    margin-left: 0px;
}

#testimonial-img{
    width: 320px;
    height: auto;
    filter: drop-shadow(5px 5px 3px black);
    border-radius: 2%;
}

.order{

    display: flex;
    background: #3882f6;
    border-radius: 15px 50px 30px;
    margin-top: 60px;
    margin-left: 400px;
    margin-bottom: 90px;
    padding: 10px;
    color: white;
    width: 500px;
    justify-self: center;
}

.text{
    padding: 25px;
}

.button{
    border: 2px solid white ;
    background: #3882f6;
    padding: 10px;
    border-radius: 15%;
    color: white;
    margin-top:70px;
    display: flex;
}

.footer{
    background: #1f2937;
    color: white;
    margin: 0px;
    padding:10px;
    text-align: center;
}